<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <title>Login and Validation</title>
</head>

<body>
    <div class="container-fluid p-3">
        <div class="row border-bottom">
        <div class="col-lg p-2"><h1>Welcome!</h1></div>
        <div class="col-lg p-2"><a href="/logout">Log-in</a></div>
        </div>
        <div class="row bg-info p-5">
            <p class="">Our goal:</p>
        </div>
    </div>
</body>
</html>